/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
footer {
  margin-top: auto;
  padding: 2rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: white;
}

/*
=============== 
Menu
===============
*/

.main-head {
  color: var(--clr-grey-10);
  background-color: #222;
  padding: 1% 0;
  padding-left: 10%;
}
.main-head h2 {
  font-size: 4rem;
}
.main-head p {
  padding-top: 0.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
}
.search-block {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar input{
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  background-color: var(--clr-grey-10);
  border: 2px solid rgba(0, 0, 0,0.3);
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  padding: 0.5rem;
  border-right: none;
  transition: all 0.2s;
}
.search-bar input:focus {
  border: 2px solid rgba(0, 0, 0,0.5);
  box-shadow: var(--light-shadow);
  border-right: none;
  outline: none;
}
.search-bar button{
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  cursor: pointer;
}
.search-bar button:focus {
  box-shadow: var(--light-shadow);
}
.icon {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0.3rem;
  color: rgba(255, 255, 255, 0.9);
}
.categories {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.categories button {
  width: auto;
  height: 2rem;
  padding: 0 1.2rem;
  background: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0,0.3);
  border-radius: 0.3rem;
  color: var(--clr-grey-2);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  transition: all 0.2s;
  transition-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53) ;
  cursor: pointer;
}
.categories button:focus {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

.menu-section {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.menu-item {
  max-width: 20rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0,0.3);
  box-shadow: var(--dark-shadow);
  justify-self: center;
}
.menu-item img {
  width: 100%;
  height: 15rem;
  display: inline;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}
.menu-item-content {
  padding: 0 1rem;
}
.menu-block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-block-header h3 {
  width: 5rem;
}
.menu-block-header span {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  background-color: rgba(0, 0, 0,0.8);
  padding: 2.5px 5px;
  border-radius: 0.3rem;
  border: none;
}
.error-message {
  height: 50vh;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 1rem;
  }
  .main-head h2 {
    font-size: 2.5rem;
  }
  .search-block {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .search-bar {
    margin-top: 1rem;
  }
  .search-bar input {
    width: 100%;
  }
  .categories {
    width: 70%;
    margin-top: 2rem;
    justify-content: space-between;
  }
  .menu-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .main-head h2 {
    font-size: 3rem;
  }
  .main-head p {
    letter-spacing: 2px;
  }
  .main-head {
    padding: 1rem;
  }
  .menu-section {
    grid-template-columns: 1fr;
  }
  .categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .categories button {
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 500;
  }
  .search-bar input{
    height: 2.5rem;
    font-size: medium;
  }
  .search-bar button{
    height: 2.5rem;
  }
  .menu-section {
    width: 95%;
    margin: 2rem auto;
  }
  .menu-item {
    height: auto;
    overflow: hidden;
  }
  .menu-item img {
    height: 50%;
  }
}
@media screen and (max-width: 400px) {
  .search-block {
    margin: 0;
    padding-left: 0;
  }
  .categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .categories button {
    padding: 3px;
  }
}